body {
    background-color: #f2f2f2;
    background: rgb(151, 71, 255);
    background: radial-gradient(circle, rgba(151, 71, 255, 1) 0%, rgba(189, 227, 255, 1) 60%, rgba(191, 177, 255, 1) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Fira Sans", sans-serif;
  }
  
  .container {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    align-items: center;
    display: flex;
  }
  
  .logo img {
    width: 200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
  }
  
  p {
    color: #f00;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .sbutton {
    align-items: center;
  }
  
  button {
    background-color: #b49ffe;
    color: white;
    padding: 12px 20px;
    margin-left: 185px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #943dff;
  }
  
  .heading {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .provinceddm{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-align: left;
  }